@import './fonts.css';

@media only screen {
    .hello {
        display: block;
        margin-top: 20px;
    }

    a {
        text-decoration: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h-tag {
        text-align: center;
        height: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #118F50;
        font-family: 'sfr';
        border-radius: 50px;
        padding: 8px 20px 8px 20px;
        width: fit-content;
        background-color: rgba(17, 143, 80, 0.075);;
    }

    .h-first {
        margin-top: 20px;
        text-align: center;
        font-size: 24px;
        font-family: 'sfr';
        color: #303030;
    }

    .h-second {
        text-align: center;
        margin: 4px 20px 15px 20px;
        font-size: 45px;
        font-family: 'sfb';
        color: #303030;
    }

    .h-subtitle {
        text-align: center;
        margin: 20px 20px 20px 20px;
        font-family: 'sfr';
        font-size: 20px;
        line-height: 32px;
        color: #303030;
    }

    .h-actions {
        display: block;
        margin-top: 40px;
        gap: 50px;
    }

    .findout {
        border-radius: 50px;
        color: white;
        background-color: #118F50;
        background-image: linear-gradient(270deg, #0A6336 -33.32%, rgba(10, 99, 54, 0) 76.16%);
        padding: 14px 45px 14px 45px;
        cursor: pointer;
        font-family: 'sfb';
        font-size: 16px;
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .h-pdf {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #118F50;
        margin-top: 40px;
        font-family: 'sfb';
        font-size: 16px;
        cursor: pointer;
    }

    .pdf-icon {
        stroke: #118F50;
        height: 24px;
    }

    .h-pic {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }

    .h-image {
        height: 250px;
        width: auto;
    } 
}

@media only screen and (min-width: 64.063em) {
    .hello {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 60px 20px 60px;
    }

    .container {
        display: block;
    }

    .h-tag {
        text-align: start;
        height: 16px;
        font-size: 16px;
        color: #118F50;
        font-family: 'sfr';
    }

    .h-first {
        text-align: start;
        margin-top: 20px;
        font-size: 40px;
        font-family: 'sfr';
        color: #303030;
    }

    .h-second {
        text-align: start;
        margin: 4px 0px 0px 0px;
        font-size: 60px;
        font-family: 'sfb';
        color: #303030;
    }

    .h-subtitle {
        text-align: start;
        width: 450px;
        padding: 0px;
        margin: 10px 0px 0px 0px;
        font-family: 'sfr';
        font-size: 20px;
        line-height: 30px;
        color: #303030;
    }

    .green {
        color: #118F50;
    }

    .h-actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 40px;
        gap: 50px;
    }

    .findout {
        border-radius: 50px;
        color: white;
        background-color: #118F50;
        background-image: linear-gradient(270deg, #0A6336 -33.32%, rgba(10, 99, 54, 0) 76.16%);
        padding: 14px 25px 14px 25px;
        cursor: pointer;
        font-family: 'sfb';
        font-size: 14px;
        transition: 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .h-pdf {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: #118F50;
        font-family: 'sfr';
        font-size: 16px;
        cursor: pointer;
        margin-top: 0px;
    }

    .pdf-icon {
        stroke: white;
        height: 20px;
    }

    .h-image {
        height: 450px;
        width: auto;
    }

}