@import './fonts.css';
@import './colors.css';

@media only screen {
    .projects {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #f7f7f7;
    }

    .p-content {
        margin: 0px 20px 0px 20px;
    }

    .p-last {
        margin-top: 60px;
        font-size: 18px;
        color: var(--text-faded);
        font-family: 'sfr';
    }

    .p-title {
        margin-top: 20px;
        font-size: 40px;
        color: var(--dark-text);
        font-family: 'sfb';
    }

    .p-subtitle {
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        color: var(--dark-text);
        font-family: 'sfr';
    }

    span {
        color: var(--green);
    }

    .p-control-wr {
        position: fixed;
        bottom: 20px;
        right: 0;
        left: 0;
        /* right: 0; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-control {
        padding: 10px;
        border-radius: 4px;
        /* width: 400px; */
        background-color: var(--green);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .p-back {
        border-radius: 4px;
        padding: 10px 20px 10px 20px;
        background-color: transparent;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: white;
        font-family: 'sfb';
        font-size: 14px;
        cursor: pointer;
    }

    .p-add-project {
        border-radius: 4px;
        padding: 10px 20px 10px 20px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green);
        gap: 15px;
        font-family: 'sfb';
        font-size: 14px;
        cursor: pointer;
    }

    .p-icon {
        fill: white;
        height: 20px;
    }
}

@media only screen and (min-width: 64.063em) {
    .projects {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: #f7f7f7;
    }

    .p-content {
        margin: 0px 50px 0px 50px;
    }

    .p-last {
        margin-top: 60px;
        font-size: 18px;
        color: var(--text-faded);
        font-family: 'sfr';
    }

    .p-title {
        margin-top: 20px;
        font-size: 60px;
        color: var(--dark-text);
        font-family: 'sfb';
    }

    .p-subtitle {
        margin-top: 30px;
        font-size: 22px;
        color: var(--dark-text);
        font-family: 'sfr';
    }

    span {
        color: var(--green);
    }

    .p-control-wr {
        position: fixed;
        bottom: 40px;
        right: 40px;
        /* right: 0; */
        left: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .p-control {
        padding: 10px;
        border-radius: 4px;
        /* width: 400px; */
        background-color: var(--green);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
    }

    .p-back {
        border-radius: 4px;
        padding: 10px 30px 10px 30px;
        background-color: transparent;
        border: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        color: white;
        font-family: 'sfb';
        font-size: 16px;
        cursor: pointer;
    }

    .p-add-project {
        border-radius: 4px;
        padding: 10px 30px 10px 30px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--green);
        gap: 15px;
        font-family: 'sfb';
        font-size: 16px;
        cursor: pointer;
    }

    .p-icon {
        fill: white;
        height: 20px;
    }
}

@media only screen and (min-width: 64.063em) {

}

